* {
    margin : 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;

}

#name {
    text-align: center;
    margin-top: 20px;
    background-color: blue;
}
#command {
    text-align: center;
    margin-top: 20px;
    background-color: green;

}
